<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="layout347.css">
</head>
<body>
  <header class="header-box"> </header>
  <div class="flexbox">
    <div class="item">
      <div class="content"> </div>
    </div>
    <div class="item">
      <div class="content"> </div>
    </div>
    <div class="item">
      <div class="content"> </div>
    </div>
    <div class="item">
      <div class="content"> </div>
    </div>
    <div class="item">
      <div class="content"> </div>
    </div>
    <div class="item">
      <div class="content"> </div>
    </div>
  </div>
  <footer class="footer-box"> </footer>
</body>
</html>
